@import '../../common/var.scss';

.group {
  margin: 20px;
  width: 100%;
  height: calc($width/5);
  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: calc($width/15);
  color: rgba(white, 0.5);
  font-size: calc($width/15);
  cursor: text;
  transition: 0.25s ease;
}

input {
  display: block;
  width: $width;
  padding-top: calc($width/15);
  border: none;
  border-radius: 0; // For iOS
  border-bottom: solid calc($width/150) rgba(white, 0.5);
  color: white;
  background: $main-color;
  font-size: calc($width/15);
  transition: 0.3s ease;
  &:valid {
    border-bottom-color: rgba(white, 0.5);
    ~ label {
      top: 0;
      font-size: calc($width/25);
      // font: 700 $width/25 Roboto;
      color: rgba(white, 0.5);
    }
  }
  &:focus {
    outline: none;
    border-bottom-color: $secondary-color;
    ~ label {
      top: 0;
      font-size: calc($width/25);
      // font: 700 $width/25 Roboto;
      color: $secondary-color;
    }
  }
}

::selection {
  background: rgba($secondary-color, 0.3);
}

// input {
//   display: block;
//   margin: 10px;
//   width: 300px;
//   height: 30px;
//   padding: 0 10px;
//   font-size: inherit;
//   border: 1px solid black;
// }

select {
  display: block;
  margin: 10px;
  width: 300px;
  height: 30px;
  padding: 0 10px;
  font-size: inherit;
  border: 1px solid black;
  font-weight: 100;
}

.checkbox {
  display: inline;
  width: 15px;
  height: 15px;
}

.form {
  background-color: $form-color;
  width: $width * 1.5;
  margin: 0 auto;
  border: 1px solid black;
  font-size: 1.2rem;
}

.pic-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.pic-label {
  width: 300px;
  height: 30px;
  margin: 10px;
  text-align: center;
  line-height: 150%;
  cursor: pointer;
  display: block;
  border: 1px solid #333;
  color: #333;
}
