@import '../../common/var.scss';

.group {
  margin: 20px auto 0;
  width: $width;
  height: calc($width/6);
  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: calc($width/15);
  color: rgba(white, 0.5);
  font-size: calc($width/15);
  cursor: text;
  transition: 0.25s ease;
}

input {
  display: block;
  width: $width;
  padding-top: calc($width/15);
  border: none;
  border-radius: 0;
  border-bottom: solid calc($width/150) rgba(white, 0.5);
  color: white;
  background: $main-color;
  font-size: calc($width/15);
  transition: 0.3s ease;
  &:valid {
    border-bottom-color: rgba(white, 0.5);
    ~ label {
      top: 0;
      font-size: calc($width/25);
      color: rgba(white, 0.5);
    }
  }
  &:focus {
    outline: none;
    border-bottom-color: $secondary-color;
    ~ label {
      top: 0;
      font-size: calc($width/25);
      color: $secondary-color;
    }
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
    -webkit-text-fill-color: white !important;
  }
}

::selection {
  background: rgba($secondary-color, 0.3);
}

select {
  display: block;
  margin: 0 auto;
  width: $width;
  height: 40px;
  font-size: inherit;
  font-weight: 100;
  font-size: calc($width/15);
  color: rgba(white, 0.5);
  background: $main-color;
  border-bottom: solid calc($width/150) rgba(white, 0.5);
}

.checkbox {
  display: block;
  width: $width;
  height: calc($width/7);
  margin: 0 auto 10px;

  input {
    width: 25px;
    margin: 0 10px 8px 0;

    &:valid {
      border-bottom-color: rgba(white, 0.5);
      ~ label {
        top: 15px;
        left: 40px;
        font-size: calc($width/15);
        width: $width;
        color: rgba(white, 0.5);
      }
    }
  }
}

.form {
  background-color: $form-color;
  margin: 0 auto;
  padding-bottom: 40px;
}

.pic-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  &:valid {
    ~ label {
      font-size: calc($width/15);
    }
  }
}

.pic-label {
  width: $width;
  height: calc($width/7);
  text-align: center;
  line-height: 200%;
  cursor: pointer;
  display: block;
  color: rgba(white, 0.5);
  font-size: calc($width/15);
  border: solid calc($width/150) rgba(white, 0.5);
  border-radius: 10px;
}

.error-mesage {
  margin: 5px auto 0;
  color: $error-message-color;
  width: calc($width * 1);
}

.submit {
  margin: 40px auto 20px;
  padding: 0;
  height: 50px;
  background-color: rgb(59, 59, 61);
  border-radius: 20px;
  border: solid calc($width/150) rgba(white, 0.5);
  &:valid {
    border-bottom-color: rgba(white, 0.5);
  }
}

.error-msg {
  margin: 0 auto;
  color: $error-message-color;
  width: calc($width * 1.5);
  line-height: 1.5;
}
